<!-- Make sure all your bars are the first things in your <body> -->
      <header class="bar-title">
        <a class="button" href="#/chats">
          Atrás
        </a>
        <h1 class="title"><%= contact.name %> <%= contact.surname %></h1>
       
      </header>

      <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
      <div class="content">
        <div class="content-padded">
          
          <ul class="list" style="padding-bottom: 35px;">
             
          </ul>

        </div>

        

      </div>


        <nav class="bar-tab">
          <form class="inset" style="margin:0px; padding: 0px; width: 100%;">
            <table width="100%" cellspacing="7">
              <tr>
                <td width="80%"><input type="search" placeholder="Mensaje"></td>
                <td width="20%">
                  <a class="button-main button-block login-submit" style="margin-top: -11px">Enviar</a>
                </td>
            
            
          </form>
        </nav>