<!-- Make sure all your bars are the first things in your <body> -->
      <header class="bar-title">
        <h1 class="title">Medibaby</h1>
      </header>

      <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
      <div class="content">
        <div class="content-padded">
          <p class="welcome">Servicio de Telemedicina Pediátrica</p>
        </div>

        <form class="login inset">
          <span class="desc">Entra con tu cuenta Medibaby para acceder a la Aplicación</span>
          <br>
          <input type="text" placeholder="Correo Electrónico">
          <input type="password" placeholder="Clave">
          <a class="button-main button-block login-submit">Entrar</a>
          <a class="button-block">Darme de Alta</a>

        </form>

      </div>