{% extends 'RoleAdminBundle::layout.html.twig' %}
{% set active = "default" %}
{% block pageContainer %}
<div class="row">
<div class="span9 offset1">
<h4>Bienvenido, <strong>Administrador</strong>!</h4>
</div>
</div>
{% endblock %}